bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.DotSettings.user
_ReSharper*/
*.log
.DS_Store
Thumbs.db
node_modules/
package-lock.json
yarn.lock
.env
.env.*
.idea/
coverage/
TestResults/
*.trx
*.coverage
*.coveragexml
*.codecov
*.swp
*.temp
*.tmp
*.xaml.g.cs
*.xaml.csproj.nuget.g.props
*.xaml.csproj.nuget.g.targets
docfx/
site/
*.nupkg
*.snupkg
.nuget/
